@import './AccordionContainer.css';
@import './AccordionBlock.css';
@import './StatisticsBlock.css';

button:focus {
    outline: none; /* Убираем при клике */
  }
  
  button:focus-visible {
    outline: 2px solid rgba(241, 156, 46, 0.87); /* Показываем только при клавиатурной навигации */
  }