.page-container {
    padding: 20px;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
  }

.page-header{

}

.page-content{

}

.formSetItems{
  display: flex;
  flex-wrap: nowrap;
  justify-items: left;
  gap: 20px;
  position: relative; /* Делаем контейнер относительным для абсолютного позиционирования */
}

.inputSetItems{

}

.inputSetItems--error {
  border-color: red; /* Красная рамка при ошибке */
}

.buttonSetItems{

}

.statisticHardWorkerContainer{
  margin-bottom: 20,
}

.inputSetWorker{
  margin-left: 10;
  width: 50
}

.error {
  color: red;
  margin: auto;
  font-size: small;
}